# Python
__pycache__/
*.pyc
venv/

# Environment files
.env

# Database
*.db

# Models
*.pkl

# Uploads
uploads/

# Reports
reports/

# Build files
dist/
build/

# Firebase
.firebase/

# Node modules
node_modules/

# VS Code
.vscode/

# Streamlit cache
.streamlit/